<div class="login">
    <div class="login-box">
        <h2 translate>Login</h2>
        <form>
            <div class="input-field">
                <input required type="text" />
                <label translate>Email</label>
            </div>
            <div class="input-field">
                <input required type="password" />
                <label translate>Password</label>
            </div>
            <button type="button">{{ "Login" }}</button>
            <button class="mt-2" (click)="goToSignUp()" type="button">Sign Up</button>
        </form>
    </div>
</div>

<!-- <div class="lang-selector">
    <app-language-selector [openAbove]="true"></app-language-selector>
  </div> -->
