  <!-- <div class="login">
    <div class="login-box">
      <h2 translate>Login</h2>
      <form>
        <div class="input-field">
          <input name="username" required type="text" />
          <label translate>Username</label>
        </div>
        <div class="input-field">
          <input name="password" required type="password" />
          <label translate>Password</label>
        </div>
        <button (click)="loginAsAdmin();" type="button">{{ 'Login' }}</button>
        <button (click)="goSignup()" class="special-button" type="button">New Here? Sign up now</button>
      </form>
    </div>
  </div> -->
  <!-- <div class="lang-selector">
    <app-language-selector [openAbove]="true"></app-language-selector>
  </div> -->

  <button (click)="updateCount(-1)">-</button>
  <span>{{ count() }}</span>
  <button (click)="updateCount(+1)">+</button>
  