<div class="login">
    <div class="login-box">
      <h2 translate>Sign Up</h2>
      <form>
        <div class="input-field">
          <input required type="text" />
          <label translate>Username</label>
        </div>
        <div class="login-box">
            <input type="text" required>
            <label translate> Email</label>
        </div>
        <div class="input-field">
          <input required type="password" />
          <label translate>Password</label>
        </div>
        <!-- <button (click)="loginAsAdmin()" type="submit">{{ 'Login' | translate }}</button> -->
        <button (click)="signUp()" type="submit">{{ 'Login' }}</button>
      </form>
    </div>
  </div>
  
  <!-- <div class="lang-selector">
    <app-language-selector [openAbove]="true"></app-language-selector>
  </div> -->
  